.gameBoard {
  background-color: rgb(255, 255, 255);
}

.row0,
.row1,
.row2 {
  display: flex;
}

.boardItem {
  border-color: #231b1b;
  border-radius: 0px;
  width: 10vh;
  height: 10vh;
  font-size: 4rem;
  color: #231b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardMarker {
  width: 8vh;
  height: 8vh;
}
