ul {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #231b1b;
  color: rgb(197, 197, 197);
}

.mainHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  color: green;
  font-weight: bold;
}

.canMove.yes {
  color: green;
}

.canMove.no {
  /* color: red; */
}

button {
  padding: 10px;
  background: none;
  border: 2px solid #e980fc;
  color: #e980fc;
  transition-duration: 0.4s;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: #e980fc;
  color: #231b1b;
}

.streak {
  font-weight: 600;
  font-size: 1.5rem;
}

.loginButton {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 5px;
  margin-top: 5px;
}

.userInfoBar {
  border: 2px solid #e980fc;
  color: #e980fc;
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3px;
  margin-right: 3px;
}
