ul {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #231b1b;
  color: rgb(197, 197, 197);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mainHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  color: green;
  font-weight: bold;
}

.canMove {
  text-align: center;
}

.canMove.yes {
  color: green;
}

.canMove.no {
}

button {
  padding: 10px;
  background: none;
  border: 2px solid #e980fc;
  color: #e980fc;
  transition-duration: 0.4s;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: #e980fc;
  color: #231b1b;
}

.streak {
  font-weight: 600;
  font-size: 1.5rem;
}

.loginButton {
  left: 0;
  top: 0;
  margin-left: 5px;
  margin-top: 5px;
}

.userInfoBar {
  border: 2px solid #e980fc;
  color: #e980fc;
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
  top: 0;
  right: 0;
  margin-top: 3px;
  margin-right: 3px;
}

.userInfo {
  text-align: right;
}

.userInfo.name {
  text-align: center;
  font-weight: 600;
}

@media (min-width: 800px) {
  .userInfoBar {
    position: absolute;
    margin-top: 5px;
  }

  .loginButton {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.loadingBox {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #e980fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingText {
  font-size: 1.5rem;
  font-weight: 600;
}

.loadingGifStyle {
  width: 60px;
  height: 60px;
}

.lbloadholder {
  position: absolute;
  bottom: 0;
}
