ul {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 39, 39);
  color: rgb(197, 197, 197);
}

.mainHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  color: green;
  font-weight: bold;
}

.canMove.yes {
  color: green;
}

.canMove.no {
  /* color: red; */
}
